html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #282828;
	font-family: Arial,Verdana;
}

.wrapper {
	margin: 0 auto;
	width: 800px;
}

.header {
	padding-top: 165px;
	min-height: 300px;
	background-color: #fafafa;
}

img {
	border: 0;
}

a {
	outline: 0;
}

.head_logo {
	float: left;
	padding-left: 100px;
}

.head_tag {
	float: left;
	font-size: 34px;
	color: #b90619;
	padding-left: 10px;
	padding-top: 52px;
}

.head_tag p{
    margin:0;
}

.main {
	background-image: url('../images/main_bg.png');
	background-repeat: repeat-x;
	background-color: #282828;
	min-height: 320px;
	font-size: 14px;
	color: #fafafa;
	padding: 20px;
}

.main h1 {
	font-size: 20px;
}

.main ul {
	margin: 0;
	padding: 0;
}

.main li {
	list-style-type: none;
	padding-bottom: 12px;
	display: block;
        height: 20px;
}

.main a {
	color: #fafafa;
	text-decoration: none;
}

.main_1 {
	float:left;
	width: 360px;
	line-height: 110%;
}

.main_2 {
	float:left;
	width: 140px;
}

.main_2 img {
	margin-right: 10px;
	float: left;
	clear: left;
	padding-bottom: 10px;
}

.main_3 {
	float:left;
	width: 240px;
}

a:hover {
	color: #fafafa;
	text-decoration: underline;
}

.a_link {
	padding-top: 0px;
}
.main_spacer {
	float: left;
	background-image: url('../images/main_spacer.png');
	background-repeat: no-repeat;
	width: 3px;
	height: 233px;
	margin-top: 23px;
	margin-left: 10px;
	margin-right: 15px;

}

.a_text {
	padding-top: 2px;
	float: left;
}

